{% extends "snblog/base.html" %}

{% block content %}

<div id="headerwrap">
  <div class="container-fluid">
    <div class="row centered">
      <div class="col-lg-8 offset-lg-2">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut ipsam iure repudiandae voluptatum. Beatae, consectetur corporis explicabo fuga ipsam provident ratione tempora? Est expedita illo iste possimus. Dignissimos, possimus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut ipsam iure repudiandae voluptatum. Beatae, consectetur corporis explicabo fuga ipsam provident ratione tempora? Est expedita illo iste possimus. Dignissimos, possimus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut ipsam iure repudiandae voluptatum. Beatae, consectetur corporis explicabo fuga ipsam provident ratione tempora? Est expedita illo iste possimus. Dignissimos, possimus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut ipsam iure repudiandae voluptatum. Beatae, consectetur corporis explicabo fuga ipsam provident ratione tempora? Est expedita illo iste possimus. Dignissimos, possimus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut ipsam iure repudiandae voluptatum. Beatae, consectetur corporis explicabo fuga ipsam provident ratione tempora? Est expedita illo iste possimus. Dignissimos, possimus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut ipsam iure repudiandae voluptatum. Beatae, consectetur corporis explicabo fuga ipsam provident ratione tempora? Est expedita illo iste possimus. Dignissimos, possimus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut ipsam iure repudiandae voluptatum. Beatae, consectetur corporis explicabo fuga ipsam provident ratione tempora? Est expedita illo iste possimus. Dignissimos, possimus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut ipsam iure repudiandae voluptatum. Beatae, consectetur corporis explicabo fuga ipsam provident ratione tempora? Est expedita illo iste possimus. Dignissimos, possimus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut ipsam iure repudiandae voluptatum. Beatae, consectetur corporis explicabo fuga ipsam provident ratione tempora? Est expedita illo iste possimus. Dignissimos, possimus.</p>
      </div>
    </div>
  </div>
</div>


{% endblock %}